<header class="site-header mo-left header navstyle1">
    <!-- main header -->
    <div class="sticky-header main-bar-wraper header-curve navbar-expand-lg">
        <div class="main-bar clearfix bg-primary">
            <div class="container clearfix">
                <!-- website logo -->
                <div class="logo-header mostion logo-dark">
                    <img src="images/logo_frtier.png" alt="Desktop Logo" class="logo-desktop">
                    <img src="images/logo_mobile.png" alt="Mobile Logo" class="logo-mobile">
                </div>
                <!-- nav toggle button -->
                <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                <!-- main nav -->
                <div class="header-nav navbar-collapse collapse justify-content-center" id="navbarNavDropdown">
                    <div class="logo-header d-md-block d-lg-none">
                        <a href="index.html" style="cursor: pointer;"><img src="images/logo_frtier.png" alt=""></a>
                    </div>
                    <ul class="nav navbar-nav">	
                        <li class="active">
                            <a href="javascript:;">首页</a>
                        </li>


                        <li>
                            <a href="government-service.html">公共采购服务</a>
                        </li>
                        <li>
                            <a href="javascript:;">生物医学研究服务<i class="fas fa-chevron-down"></i></a>
                            <ul class="sub-menu right">
                                <li><a href="https://www.frontbiomedical.com/" target="_blank">生物耗材</a></li>
                                <li><a href="#">扫描检测</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;">采购通学院</a>
                            
                        </li>
                        <li>
                            <a href="javascript:;">关于我们<i class="fas fa-chevron-down"></i></a>
                            <ul class="sub-menu right">
                                <li><a href="introduction.html">公司简介</a></li>
                                <li><a href="customers.html">服务客户</a></li>
                                <li><a href="contact.html">联系我们</a></li>
                            </ul>
                        </li>
                    </ul>	
                        
                </div>
            </div>
        </div>
    </div>
    <!-- main header END -->
</header>